.header {
    background-color: #08005c;
    color: #fff;
    text-align: center;
    padding: 2rem;
  }
  
  .icon {
    font-size: 2rem; 
    margin-right: 0.5rem; 
    color: rgb(255, 255, 255); 
  }